* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    color: rgb(255, 255, 255);
}

html, body {
    height: 100%;
}

body {
    background-color: rgb(31, 31, 31);
    display: flex;  
    align-items: center;
    justify-content: center;
}
button {
    padding: 3px 12px;
    border: 2px solid white;
    font-size: 17px;
    background: transparent;
    border-radius: 5px;
    transition: 0.25s;
    width: fit-content;
}
button:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 2px rgba(255, 255, 255, 0.5) inset;
}
.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    .request {
        font-size: 25px;
    }
    .food {
        font-size: 20px;
    }
}